# -------------------------------------------------------------------------
# VERSELOR V1 - ENVIRONMENT CONFIGURATION
# -------------------------------------------------------------------------

# Change "USE_PAIR_CODE" to false if you want to use a QR code to connect
USE_PAIR_CODE=true

# [IMPORTANT] Add your WhatsApp Number (with country code, no '+')
# Example: WHATSAPP_NUMBER=2348166xxxxxx
WHATSAPP_NUMBER=

# [IMPORTANT] Add your 46-digit auth code. Get from "https://bots.heavstal.com.ng/dashboard/authcode"
AUTH_CODE=
